{extends file='layout/main.html'}
{block name="main"}
<div class="span8 block">
	<!--nav-->
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li {if $active == 'sing_in'}class="active"{/if}><a href="#1" data-toggle="tab">用户登录</a></li>
			<li {if $active == 'sing_up'}class="active"{/if}><a href="#2" data-toggle="tab">用户注册</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="1">
				<!--用户登录-->
				<form class="form-horizontal" action="account/sing_in.html" method="post">
					<fieldset>
						<div class="control-group">
							<label for="email" class="control-label">邮箱:</label>
							<div class="controls">
						  		<input type="text" name="info[email]" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label for="password" class="control-label">密码:</label>
							<div class="controls">
						  		<input type="password" name="info[password]" class="span3">
							</div>
						</div>
						<div class="form-actions">
							<button class="btn btn-primary" type="submit">登陆</button>
							<button class="btn">取消</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="tab-pane" id="2">
				<form class="form-horizontal" action="account/sing_up.html" method="post">
					<fieldset>
						<div class="control-group">
							<label for="email" class="control-label">邮箱:</label>
							<div class="controls">
						  		<input type="text" name="info[email]" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label for="username" class="control-label">昵称:</label>
							<div class="controls">
						  		<input type="text" name="info[username]" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label for="password" class="control-label">密码:</label>
							<div class="controls">
						  		<input type="password" name="info[password]" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label for="repass" class="control-label">密码确认:</label>
							<div class="controls">
						  		<input type="password" name="info[re_password]" class="span3">
							</div>
						</div>
						<div class="form-actions">
							<button class="btn btn-primary" type="submit">注册</button>
							<button class="btn">取消</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<!--nav end-->
</div>

<script type="text/javascript">

</script>
{/block}