{extends file='layout/main.html'}
{block name="main"}
<div class="row">
	<div class="span9">
		<ul class="breadcrumb">
		  	<li>
		    	<a href="">首页</a> <span class="divider">/</span>
		  	</li>
		  	<li>
		    	<a href="topic.html">会员</a> <span class="divider">/</span>
		  	</li>
		  	<li class="active">{$nickname}</li>
		</ul>
		<div class="block">
			<h3>{$user.username}</h3>
			<table class="table table-bordered table-striped">
		    	{foreach $user as $key => $val}
			      	<tr>
				        <td style="width:15%" valign="top">
				        	{$key}
				        </td>
				        <td style="width:50%" valign="top">
				        	{if $val}
				        		{if $key == '入伙排名'}
				        			&nbsp;&nbsp;&nbsp;&nbsp;第<code>{$val}</code>位伙伴
				        		{elseif $key == '性别'}
				        			{if $val == 1}
				        				&nbsp;&nbsp;&nbsp;&nbsp;男
				        			{elseif $val == 0}
				        				&nbsp;&nbsp;&nbsp;&nbsp;女
				        			{else}
				        				&nbsp;&nbsp;&nbsp;&nbsp;变性人
				        			{/if}
				        		{else}
				        			&nbsp;&nbsp;&nbsp;&nbsp;{$val}
				        		{/if}
				        	{else}
				        		&nbsp;&nbsp;&nbsp;&nbsp;未填写
				        	{/if}
				        </td>
				        {if $key == '入伙排名'}
				        	<td style="width:35%" rowspan="6"><img src="Services/images/cropped_217_190/{$avatar}"></td>
				        {/if}
			      	</tr>
		      	{/foreach}
			    </tbody>
			</table>
		</div>
	</div>
	<div class="span4">
		
		<div class="block">
			<h4>最近发布的帖子</h4>
		</div>

		
		<div class="block" style="margin-top:20px">
			<h4>最近回复的帖子</h4>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.form-horizontal').submit(function() {
	var replay = $('.replay').val();
	if (!replay) {
		return false;
	};
});

$('.ping').click(function(argument){
	$('.replay').focus();
	return false;
});
</script>
{/block}